@page "/prav-category"
@* @inject NavigationManager NavigationManager *@
@using HandlingDb.Models;
<h3>Categories</h3>

@* @code{
    private int selectedCategoryId;
    public void SelectCategory(int categoryId)
    {
        selectedCategoryId = categoryId;
        NavigationManager.NavigateTo($"/prav-sub-category/{selectedCategoryId}");
    }
} *@
<div class="container">
    <div class="row">
    
        <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Category Id</label>
                    <InputNumber @bind-Value="PravCategoryValue.Id" />
                </div>
            <div class="mb-3">
                <label class="form-label">Category Name</label>
                <InputText placeholder="Enter Category Name" @bind-Value="PravCategoryValue.Name" />
            </div>
               
       </div>
        <div class="col-4">
            <button class="btn btn-primary" @onclick="AddCategory">Add Category Name</button>
        </div>
      
    </div>
    <div class="row">
        <div class="col-12">
            @if (PravCategories == null || PravCategories.Count() == 0)
            {
                <p><em>No Employees Found</em></p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in PravCategories)
                        {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
