@page "/sanschool"
@using HandlingDb.Models

<h3>School Record</h3>
<div class="container-fluid">
            
    <EditForm Model=@cls OnValidSubmit="AddClass">
        <div class="card">
            <div class="card-body">
                <label for="classId">Class ID:</label>
                <input id="classId" @bind="cls.Id" />
                <label for="className">Class Name:</label>
                <input id="className" @bind="cls.Class" />
                <label for="teacher">Teacher :</label>
                <input id="Teachername" @bind="cls.Teachers" />
                <label for="teacher">Student :</label>
                <input id="Studentname" @bind="cls.Students" />
                <button class="btn btn-primary" @onclick="AddClass">Add Class</button>
            </div>
        </div>
    </EditForm>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Class</th>
                <th>Students</th>
                <th>Teachers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var value in clss ?? new List<SanClass>())
            {
                <tr>
                <td>@value.Id</td>
                <td>@value.Class</td>
                <td>@value.Students</td>
                <td>@value.Teachers</td>
                </tr>
            }
        </tbody>
    </table>

</div>

